.fonte{
    font-family: 'Roboto', sans-serif !important;
}
.espacamento{
    padding-top: 20px;
}
.area-exibicao{
    width: 88%;
}
.cardDisciplina{
    font-weight: 700 !important;
}

.cardTurmaCarga{
    font-weight: 600 !important;
}

.cardFaltasPresencas{
    font-weight: 400 !important;
}
.card-content, .modal-content{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.card-content{
    text-align: center;
}
.historico{
    text-align: center;
}
.data{
    margin-top: 15px;
}
.data2{
    margin-top: 25px;
}
.botaofe{
    color: gray;
}

.ajuste{
    margin-top: 5vh;
}
@media screen and (max-width: 600px) {
    .ajuste{
        margin-top: 3vh;
    }
}
