.fonte{
    font-family: 'Poppins', sans-serif;
}

.menu-superior{
    width: 100%;
    height: 64px;
    line-height: 64px;
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    font-size: 32px;
    text-align: center;
    position: fixed;
    z-index:2;
}

.ajuste{
    margin-top: 15vh;
}
.card{
    text-align: center; 
}
.login{
    font-size: 4rem;
    font-weight: 400;
    padding-top: 2rem;
}
.formulario{
    margin: 0 2vw 0 2vw;
}

.esqueciSenha{
    color: #397bE0 !important;
    margin-right: 0 !important;
}

.modal{
    top:45% !important;
    text-align: center;
    width: 5%;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
