
.espacamento{
    padding-top: 2vh;
}

.area-exibicao{
    width: 88%;
}

.cardDisciplina{
    font-weight: 700 !important;
}

.cardTurmaCarga{
    font-weight: 600 !important;
}

.cardFaltasPresencas{
    font-weight: 400 !important;
}
.card-content, .modal-content{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.botaoVerMais{
    margin-top: 1rem;
}
.botaoDatas{
    margin-top: 1rem;
    pointer-events: none;
    cursor: default;
}
.margem{
    margin-top: 100px;
}
.icone{
    font-size: 3.8rem;
}

.ajuste{
    margin-top: 5vh;
}
@media screen and (max-width: 600px) {
    .ajuste{
        margin-top: 3vh;
    }
}

.listaCamada{
    width: 40vw !important;
    margin: auto;
}