.fonte{
    font-family: 'Roboto', sans-serif !important;
}
.espacamento{
    padding-top: 20px;
}
.area-exibicao{
    width: 88%;
}
.tituloCard{
    font-weight: 900 !important;
}
.turmaCard{
    font-weight: 400 !important;
}
.horarioCard{
    font-weight: 100 !important;
}
.card-content{
    text-align: center;
}